@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif !important;
}
.navbar {
    z-index: 1030;
    text-align: center;
}
.navbar.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0
}
.navbar-brand img{
    margin-top: 10px;
    height: 27px;
    max-width: 190px;
    margin-bottom: 0.4rem
}
.site-main {
    padding-top: 76px;
    max-width: 450px;
    margin: 0 auto;
}
.first-h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}
.first-h1 strong {
    font-weight: 700
}
.form-vertical-smile {
    max-width: 500px;
    margin: 0 auto;
    position: relative
}
.form-vertical-smile .form-group--domain .input-group-append {
    background-color: #f3f3f3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px
}
.form-groups-wrapper {
    border: 3px solid #e9e9e9;
    border-radius: 32px;
    background-color: #fff;
    padding: 40px 33px 30px
}
.form-group {
    margin-bottom: 1rem
}
.form-control {
    width: 100%;
    font-size: 1rem;
    color: #000;
    border: 0 solid #ced4da;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}
.form-smile {
    position: fixed;
    top: 10px;
    left: 53%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1680px;
    z-index: -1
}
.form-control:focus {
    outline: 0;
    /* box-shadow: 0 0 0 .2rem #57A6A1; */
}
.form-group-label-anim input {
    border-radius: 12px;
    height: 62px;
    background-color: #f3f3f3;
    display: block;
    padding: 24px 20px 5px 20px;
    box-sizing: border-box;
    font-size: 1.06rem;
    font-weight: 400;
    color: #000;
    transition: background-color 200ms ease-in, box-shadow 400ms ease-out;
}
.btn--blue {
    border: none;
    background-color: #4242ab !important;
    height: 56px;
    color: #fff !important;
    cursor: pointer;
    border-radius: 18px;
    font-size: 18px;
    padding: 0.375rem 0.75rem 0.25rem
}
.btn--blue-lg {
    max-width: 316px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.me{
    width: 100% !important;
    margin-bottom: 20px;
}
.strong{
    color: #171754 !important;
    font-weight: 600 !important;
}
.form-group-label-anim {
    position: relative;
}
.form-group-label-anim label{ 
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #4c4c4c;
    pointer-events: none;
    transition: .5s;
}
.form-group-label-anim input:focus~label{
    top: -1px;
    background: #ffffff;
    padding: 0;
}
.input-password-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-password-wrapper li{
    background: #f3f3f3;
    padding:  18.5px 6px ;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.input-password-wrapper input{
 border-top-right-radius: 0;   
 border-bottom-right-radius: 0;   
}
.input-password-wrapper {
    width: 100% !important;
    font-size: 1rem;
    color: #000;
    border: 0 solid red;
    background: #f3f3f3;
    border-radius: 12px;
    pointer-events: 1;
}
.input-password-wrapper input{
    border: 0;
    outline: 0;
    width: 100%;
}
.form-group .text-center{
    text-align: center;
    margin-top: 10px;
}
.signupmodal-outter {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 9999;
    font-size: 12px;
}
.signupmodal-inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 18em;
    height: 18em;
    margin: -9em 0 0 -9em;
    border-radius: 50%;
    overflow: visible;
    border: none;
    outline: 0;
    background-color: #3e75ff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 8px rgba(0,0,0,0.7); */
}
.signupmodal-progress-circle {
    position: absolute;
    display: block;
    left: -4%;
    top: -4%;
    width: 108%;
    height: 108%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 0.5em solid rgba(160,160,160,0.57);
    box-sizing: border-box;
    border-bottom-color: white;
    animation: rotation 0.6s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}
.signupmodal-text {
    margin: 0 0 1.5em;
    padding: 0 1em;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 600;
    color: #fff;
    box-sizing: border-box
}
.second-h1{
    margin: 52px 0;
    font-size: 40px;
    font-weight: 300;
    color: #216eb9;
    text-align: center;
}
label{
    text-align: right;
    font-weight: 500;
    color: #4c4c4c !important;
    cursor: pointer;
}
.label{
    font-weight: 500;
    color: #4c4c4c !important;
}
.tl-clouds-container {
  font-size:0.7em;
  position:fixed;
  bottom:0;
  z-index:-1;
}
.clouds-left-part, .clouds-right-part {
  position:fixed;
  z-index:0;
  bottom:0;
  width:35%;
  height:auto;
}
.clouds-left-part { left:0; }
.clouds-right-part { right:0; }
.clouds-shuttle-img {
  position:fixed;
  right:5%;
  bottom:0;
  z-index:1;
  width:25%;
  height:auto;
}
.navbar-2{
  width: 100%;
  background: #fff;
  height: 80px;
  position: relative;
  text-align: center;
}
.navbar-2 img{
  margin-top: 15px;
}
.section-child{
  clip-path: polygon(0 0, 100% 0, 100% 5%, 0 30%);
  background: #f4f5f7;
  height: 600px;
  position: absolute;
  width: 100%;
}
section{
  position: relative; 
}
.section-child h2{
    font-size: 45px;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 45px;
    color: #282530;
}
.site-main-3{
    max-width: 1000px;
    background: #fff;
    margin-top: 200px !important;
    margin: 0 auto;
}
.first-p{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #212529;
}
.second-p{
    color: #282530;
    font-weight: 500;
    font-size: 17px;
}
.explain{
    margin-top: 30px;
}
.explain-first-p{
    color: #111111;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}
.head span{
    color: #000;
    font-weight: 600;
    font-size: 19px;
}
.head {
    font-size: 17px;
    font-weight: 500;
    color: #282530;
}

@media screen and (max-width: 1024px) {
    .form-smile{
        display: none;
    }
    label , input{
        display: block;
    }
    label{
        text-align: left !important;
    }
    .site-main-2{
        padding-top: 10px;
    }
}

@media screen and (max-width: 1114px) {
    .form-smile {
        left: 44%;
        max-width: 1500px;
    }
}
@media screen and (max-width: 600px) {
    .form-vertical-smile {
        max-width: 350px;
    }
    .form-groups-wrapper {
        padding: 35px 29px 25px
    }
    .form-smile{
        display: none;
    }  
    .small-p{
        font-size: 18px;
    } 
    .tl-clouds-container{
        display: none;
    }
    .section-child h2{
        font-size: 25px;
    }
    .site-main-3{
        padding: 10px;
    }
}
@media screen and (max-width: 162px) {
    .site-main{
        display: none;
    }
}








